<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    <div>
        <header>
            头部
        </header>
        <section>
            <div>
                <h3>Python Scrapy基本学习</h3>
            </div>
            <div>
                <div>
                    <i></i>
                    <span>汪守满</span>
                </div>
                <div>
                    <i></i>
                    <span>2019-12-16</span>
                </div>
            </div>
            <div class="html-content">

            </div>

        </section>

    </div>
</body>
</html>